body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 24px;
  letter-spacing: 2%;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

p{
  margin: 0;
}

h3{
  margin: 0;
}

img{
  display: block;
}

.header{
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: #2e2f42;
}


ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

nav ul{
  gap: 40px;
}

.nav{
  display: flex;
  align-items: center;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  padding: 24px 0;
  display: block;
}
.nav-list:hover {
  color: #404bbf;
}

.nav-list:focus {
  color: #404bbf;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.nav-menu{
  display: flex;
  gap: 40px;
}
address {
  font-size: 16px;
  font-style: normal;
}

.address-list{
  display: flex;
  gap: 40px;
}

.address-link {
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 60px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 45px;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

h2{
  margin-bottom: 72px;
}

h3 {
  color: #2e2f42;
}

.description {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero-container{
  text-align: center;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-section .description{
  text-align: center;
}

.team-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  gap: 8px;
}
.hero-section-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
}

.hero-section-button:hover {
  background-color: #404bbf;
}

.hero-section-button:focus {
  background-color: #404bbf;
}


.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.about-section{
  padding: 120px 0;
}

.footer{
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  display: block;
}


.footer-description{
  width: 264px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer span {
  color: #f4f4fd;
}

.footer-description {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.container {
  width: 1158px;
  margin: auto;
  padding: 0 15px
}
.about-card{
  display: flex;
  gap: 24px;
}


.about-list{
  flex-basis: calc((100% - 72px) / 4);
}

.about-section h3{
  margin-bottom: 8px;
}

.about-section p{
  width: 264px;
}

.portfolio-section{
  padding-top: 120px; 
  padding-bottom: 120px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.project-list{
  width: calc((100% - 48px) / 3);
}
.project-card{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
